.like, .unlike, .likes_count {
	color: blue;
}
.hide {
	display: none;
}
.fa-heart, .fa-heart-o {
	transform: rotateY(-180deg);
	font-size: 1.3em;
}

.fa-heart:hover, .fa-heart-o:hover {
  color: red;
}

.big-logo {
	font-size: 400%;
}
